<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14102016647-37m019d8iopsi0i7utjfpqas4h4l3ebe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14102016647-37m019d8iopsi0i7utjfpqas4h4l3ebe</string>
	<key>API_KEY</key>
	<string>AIzaSyBMX4gC3OtWciZMdYJM38XMd_R0KgIh2-4</string>
	<key>GCM_SENDER_ID</key>
	<string>14102016647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ognam.FeatScrapDemoApp</string>
	<key>PROJECT_ID</key>
	<string>usg-checkmate</string>
	<key>STORAGE_BUCKET</key>
	<string>usg-checkmate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:14102016647:ios:518793745d2292a1d93e22</string>
	<key>DATABASE_URL</key>
	<string>https://usg-checkmate-default-rtdb.firebaseio.com</string>
</dict>
</plist>
